.version.index /* version checker */
{
	color: #000010;
	background-color: #82F94D;
}

#page
{
	margin-right: auto;
	border-width: 0px;
	z-index: 1;
	border-color: #000000;
	margin-left: auto;
	background-image: none;
	background-color: transparent;
}

#u19022
{
	border-width: 0px;
	position: relative;
	z-index: 2;
	border-color: transparent;
	background-color: transparent;
}

#u18679
{
	background-color: #000000;
	z-index: 3;
	opacity: 0.41;
	border-radius: 10px;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)";
	filter: alpha(opacity=41);
	margin-right: -10000px;
}

#widgetu18499
{
	margin-right: -10000px;
	position: relative;
	z-index: 4;
	width: 0.01px;
}

#widgetu18504
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 5;
	border-color: transparent;
	left: -1px;
	background-color: transparent;
}

#widgetu18504.fld-err-st
{
	border-radius: 0px;
	min-height: 0px;
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u18505
{
	height: 20px;
	background-position: 0px 0px;
	vertical-align: top;
	background-repeat: no-repeat;
	position: relative;
	margin-right: -10000px;
	z-index: 7;
	left: 1px;
	background-color: transparent;
}

#u18506-4
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color: #C4C4C4;
	border-width: 1px;
	border-style: solid;
	position: relative;
	line-height: 14px;
	padding: 6px;
	border-color: #C4C4C4;
	margin-right: -10000px;
	font-style: italic;
	z-index: 9;
	min-height: 14px;
	background-color: #F2F2F2;
}

#widgetu18504.non-empty-st #u18506-4
{
	background-color: #FFFFFF;
}

#widgetu18504:hover #u18506-4,#widgetu18504.focus-st #u18506-4
{
	padding-bottom: 6px;
	margin-right: -10000px;
	margin-left: 0px;
	min-height: 14px;
	padding-top: 6px;
	border-color: #6B6B6B;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}

#widgetu18504.non-empty-st #u18506-4 *,#widgetu18504:active #u18506-4 *,#widgetu18504.focus-st #u18506-4 *
{
	font-style: normal;
	color: #4F4F4F;
}
/*
#widgetu18504.non-empty-st #u18506-4 *,#widgetu18504:hover #u18506-4 *,#widgetu18504.focus-st #u18506-4 *
{
	font-style: normal;
	color: #4F4F4F;
}*/

#widgetu18504.fld-err-st #u18506-4
{
	padding-bottom: 6px;
	margin-right: -10000px;
	margin-left: 0px;
	min-height: 14px;
	padding-top: 6px;
	border-color: #D7244C;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}

#widgetu18504.fld-err-st #u18506-4 *
{
	font-style: italic;
	color: #D7244C;
}

#widgetu18504_input,#widgetu18504_prompt
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color: #C4C4C4;
	font-style: italic;
	padding: 6px;
	min-height: 14px;
}

#widgetu18504.focus-st #widgetu18504_prompt
{
	padding-bottom: 6px;
	padding-top: 6px;
	visibility: hidden;
}

#widgetu18504:hover #widgetu18504_input,#widgetu18504.focus-st #widgetu18504_input,#widgetu18504.fld-err-st #widgetu18504_input,#widgetu18504:hover #widgetu18504_prompt,#widgetu18504.fld-err-st #widgetu18504_prompt
{
	padding-bottom: 6px;
	padding-top: 6px;
}

#widgetu18504.non-empty-st #widgetu18504_prompt
{
	visibility: hidden;
}

#u18514-4
{
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	z-index: 13;
	opacity: 0;
	position: relative;
	font-size: 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	margin-right: -10000px;
	padding-top: 4px;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
}

#widgetu18499.frm-sub-st #u18514-4 p
{
	font-size: 14px;
	color: #999999;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18515-4
{
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	z-index: 17;
	opacity: 0;
	position: relative;
	font-size: 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #FF0000;
	padding-top: 4px;
	width: 200px;
	min-height: 21px;
	margin-right: -10000px;
	background-color: transparent;
}

#widgetu18499.frm-sub-st #u18514-4,#widgetu18499.frm-subm-err-st #u18515-4
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu18499.frm-subm-err-st #u18515-4 p
{
	font-size: 14px;
	color: #D7244C;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18509
{
	margin-right: -10000px;
	vertical-align: top;
	position: relative;
	z-index: 22;
	width: 200px;
	height: 25px;
}

#u18508-17
{
	background-position: 0px 0px;
	background-repeat: no-repeat;
	position: relative;
	z-index: 24;
	width: 131px;
	min-height: 31px;
	margin-right: -10000px;
	background-color: transparent;
}

#widgetu18516
{
	margin-right: -10000px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
	z-index: 41;
	border-color: transparent;
	height: 20px;
}

#u18517
{
	height: 20px;
	background-position: 0px 0px;
	vertical-align: top;
	background-repeat: no-repeat;
	position: relative;
	margin-right: -10000px;
	z-index: 43;
	left: 26px;
	background-color: transparent;
}

#u18519
{
	height: 16px;
	margin-right: -10000px;
	position: relative;
	z-index: 45;
	width: 16px;
	background-color: transparent;
}

#widgetu18510
{
	margin-right: -10000px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
	z-index: 46;
	border-color: transparent;
	height: 20px;
}

#widgetu18516.fld-err-st,#widgetu18510.fld-err-st
{
	margin-right: -10000px;
	margin-left: 0px;
	border-radius: 0px;
	height: 20px;
	margin-bottom: 0px;
	min-height: 0px;
	background-color: transparent;
}

#u18512
{
	height: 20px;
	background-position: 0px 0px;
	vertical-align: top;
	background-repeat: no-repeat;
	position: relative;
	margin-right: -10000px;
	z-index: 48;
	left: 26px;
	background-color: transparent;
}

#u18511
{
	height: 16px;
	margin-right: -10000px;
	position: relative;
	z-index: 50;
	width: 16px;
	background-color: transparent;
}

#widgetu18500
{
	margin-top: 125px;
	margin-right: -10000px;
	border-width: 0px;
	height: 20px;
	position: relative;
	z-index: 51;
	border-color: transparent;
	background-color: transparent;
}

#widgetu18500.fld-err-st
{
	border-radius: 0px;
	height: 20px;
	min-height: 0px;
	background-color: transparent;
	margin: 125px -10000px 0px 0px;
}

#u18502
{
	height: 20px;
	background-position: 0px 0px;
	vertical-align: top;
	background-repeat: no-repeat;
	position: relative;
	margin-right: -10000px;
	z-index: 53;
	left: 26px;
	background-color: transparent;
}

#widgetu18504.fld-err-st #u18505,#widgetu18499.frm-subm-ok-st #u18509,#u18508-17:hover,#u18508-17:active,#widgetu18499.frm-sub-st #u18508-17,#widgetu18516.fld-err-st #u18517,#widgetu18510.fld-err-st #u18512,#widgetu18500.fld-err-st #u18502
{
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-color: transparent;
}

#u18501
{
	height: 16px;
	margin-right: -10000px;
	position: relative;
	z-index: 55;
	width: 16px;
	background-color: transparent;
}

#u18519 input.not_checked + label,#u18511 input.not_checked + label,#u18501 input.not_checked + label
{
	background: transparent url("../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u18519 input:not(:checked) + label,#u18511 input:not(:checked) + label,#u18501 input:not(:checked) + label
{
	background: transparent url("../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u18519 input.not_checked:hover + label,#widgetu18516.focus-st #u18519 input.not_checked + label,#u18511 input.not_checked:hover + label,#widgetu18510.focus-st #u18511 input.not_checked + label,#u18501 input.not_checked:hover + label,#widgetu18500.focus-st #u18501 input.not_checked + label
{
	height: 16px;
	width: 16px;
	min-height: 0px;
	background: transparent url("../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u18519 input:not(:checked):hover + label,#widgetu18516.focus-st #u18519 input:not(:checked) + label,#u18511 input:not(:checked):hover + label,#widgetu18510.focus-st #u18511 input:not(:checked) + label,#u18501 input:not(:checked):hover + label,#widgetu18500.focus-st #u18501 input:not(:checked) + label
{
	height: 16px;
	width: 16px;
	min-height: 0px;
	background: transparent url("../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u18519 input.not_checked:active + label,#u18511 input.not_checked:active + label,#u18501 input.not_checked:active + label
{
	height: 16px;
	width: 16px;
	min-height: 0px;
	background: transparent url("../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u18519 input:not(:checked):active + label,#u18511 input:not(:checked):active + label,#u18501 input:not(:checked):active + label
{
	height: 16px;
	width: 16px;
	min-height: 0px;
	background: transparent url("../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u18519 input.checked + label,#u18511 input.checked + label,#u18501 input.checked + label
{
	background: transparent url("../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u18519 input:checked + label,#u18511 input:checked + label,#u18501 input:checked + label
{
	background: transparent url("../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u18519 input.checked:hover + label,#widgetu18516.focus-st #u18519 input.checked + label,#u18511 input.checked:hover + label,#widgetu18510.focus-st #u18511 input.checked + label,#u18501 input.checked:hover + label,#widgetu18500.focus-st #u18501 input.checked + label
{
	height: 16px;
	width: 16px;
	min-height: 0px;
	background: transparent url("../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u18519 input:checked:hover + label,#widgetu18516.focus-st #u18519 input:checked + label,#u18511 input:checked:hover + label,#widgetu18510.focus-st #u18511 input:checked + label,#u18501 input:checked:hover + label,#widgetu18500.focus-st #u18501 input:checked + label
{
	height: 16px;
	width: 16px;
	min-height: 0px;
	background: transparent url("../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u18519 input.checked:active + label,#u18511 input.checked:active + label,#u18501 input.checked:active + label
{
	height: 16px;
	width: 16px;
	min-height: 0px;
	background: transparent url("../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u18519 input:checked:active + label,#u18511 input:checked:active + label,#u18501 input:checked:active + label
{
	height: 16px;
	width: 16px;
	min-height: 0px;
	background: transparent url("../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu18516_input,#widgetu18510_input,#widgetu18500_input
{
	width: 16px;
	height: 16px;
}

.html
{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #FFFFFF;
	background-size: cover;
}

body
{
	position: relative;
}

@media (min-width: 601px)
{
	#widgetu18510.fld-err-st #u18512
	{
		background-image: url("../images/u18512-ferr.png");
	}

	#widgetu18500.fld-err-st #u18502
	{
		background-image: url("../images/u18502-ferr.png");
	}

	#widgetu18504.fld-err-st #u18505
	{
		background-image: url("../images/u18505-ferr.png");
	}

	#widgetu18516.fld-err-st #u18517
	{
		background-image: url("../images/u18517-ferr.png");
	}

	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 600px;
		min-height: 590px;
	}

	#page_position_content
	{
		margin-top: -72px;
		padding-bottom: 157px;
		width: 0.01px;/* should not cover content below */
	}

	#u18865-4
	{
		z-index: 60;
		display: block;
		vertical-align: top;
		position: relative;
	}

	#u19022
	{
		width: 600px;
		margin-top: 76px;
	}

	#u18679
	{
		width: 600px;
		height: 351px;
	}

	#widgetu18499
	{
		height: 185px;
		margin-top: 135px;
		left: 130px;
	}

	#widgetu18504
	{
		width: 342px;
		height: 54px;
	}

	#widgetu18504.fld-err-st
	{
		width: 342px;
		height: 54px;
	}

	#u18505
	{
		width: 200px;
		background-image: url("../images/u18505.png");
	}

	#u18506-4
	{
		width: 328px;
		margin-top: 25px;
	}

	#widgetu18504:hover #u18506-4
	{
		margin-top: 25px;
		width: 328px;
	}

	#widgetu18504.focus-st #u18506-4
	{
		margin-top: 25px;
		width: 328px;
	}

	#widgetu18504.fld-err-st #u18506-4
	{
		margin-top: 25px;
		width: 328px;
	}

	#widgetu18504_input,#widgetu18504_prompt
	{
		width: 328px;
	}

	#u18514-4,#u18515-4,#u18509
	{
		margin-top: 155px;
		left: 140px;
	}

	#widgetu18499.frm-subm-ok-st #u18509
	{
		background-image: url("../images/u18509-fss.png");
	}

	#u18508-17
	{
		background-image: url("../images/u18508-17.png");
		margin-bottom: -1px;
		margin-top: 155px;
	}

	#u18508-17:hover
	{
		background-image: url("../images/u18508-17-r.png");
	}

	#u18508-17:active
	{
		background-image: url("../images/u18508-17-m.png");
	}

	#widgetu18499.frm-sub-st #u18508-17
	{
		background-image: url("../images/u18508-17-fs.png");
	}

	#widgetu18516
	{
		width: 226px;
		margin-top: 65px;
	}

	#widgetu18516.fld-err-st
	{
		margin-top: 65px;
		width: 226px;
	}

	#u18517
	{
		width: 200px;
		background-image: url("../images/u18517.png");
	}

	#widgetu18510
	{
		width: 226px;
		margin-top: 95px;
	}

	#widgetu18510.fld-err-st
	{
		margin-top: 95px;
		width: 226px;
	}

	#u18512
	{
		width: 200px;
		background-image: url("../images/u18512.png");
	}

	#widgetu18500
	{
		width: 226px;
	}

	#widgetu18500.fld-err-st
	{
		width: 226px;
	}

	#u18502
	{
		width: 200px;
		background-image: url("../images/u18502.png");
	}

	#u18647-4
	{
		z-index: 56;
		display: block;
		vertical-align: top;
		position: relative;
		margin-right: -10000px;
		margin-top: 21px;
		left: 38px;
	}

	.html
	{
		background-image: url("../images/_3310042.jpg");
	}

	body
	{
		min-width: 600px;
		padding-top: 126px;
	}
}

@media (min-width: 321px) and (max-width: 600px)
{
	#widgetu18510.fld-err-st #u18512
	{
		background-image: url("../images/u18512-ferr2.png");
	}

	#widgetu18500.fld-err-st #u18502
	{
		background-image: url("../images/u18502-ferr2.png");
	}

	#widgetu18504.fld-err-st #u18505
	{
		background-image: url("../images/u18505-ferr2.png");
	}

	#widgetu18516.fld-err-st #u18517
	{
		background-image: url("../images/u18517-ferr2.png");
	}

	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		width: 306px;
		min-height: 431px;
		padding: 33px 4px 16px 10px;
	}

	#u19118-4
	{
		z-index: 64;
		display: block;
		vertical-align: top;
		position: relative;
	}

	#pu19022
	{
		width: 0.01px;
		margin-left: 6px;
		margin-top: -2px;
	}

	#u19022
	{
		width: 288px;
		margin-right: -10000px;
	}

	#u18679
	{
		width: 288px;
		height: 385px;
	}

	#widgetu18499
	{
		height: 224px;
		margin-top: 123px;
		left: 58px;
	}

	#widgetu18504
	{
		width: 174px;
		height: 52px;
	}

	#widgetu18504.fld-err-st
	{
		width: 174px;
		height: 52px;
	}

	#u18505
	{
		width: 111px;
		background-image: url("../images/u185052.png");
	}

	#u18506-4
	{
		width: 160px;
		margin-top: 24px;
	}

	#widgetu18504:hover #u18506-4
	{
		margin-top: 24px;
		width: 160px;
	}

	#widgetu18504.focus-st #u18506-4
	{
		margin-top: 24px;
		width: 160px;
	}

	#widgetu18504.fld-err-st #u18506-4
	{
		margin-top: 24px;
		width: 160px;
	}

	#widgetu18504_input,#widgetu18504_prompt
	{
		width: 160px;
	}

	#u18514-4,#u18515-4,#u18509
	{
		margin-top: 199px;
		left: 6px;
	}

	#widgetu18499.frm-subm-ok-st #u18509
	{
		background-image: url("../images/u18509-fss2.png");
	}

	#u18508-17
	{
		background-image: url("../images/u18508-172.png");
		margin-top: 160px;
		left: 19px;
	}

	#u18508-17:hover
	{
		background-image: url("../images/u18508-17-r2.png");
	}

	#u18508-17:active
	{
		background-image: url("../images/u18508-17-m2.png");
	}

	#widgetu18499.frm-sub-st #u18508-17
	{
		background-image: url("../images/u18508-17-fs2.png");
	}

	#widgetu18516
	{
		width: 137px;
		margin-top: 64px;
		left: 19px;
	}

	#widgetu18516.fld-err-st
	{
		margin-top: 64px;
		width: 137px;
	}

	#u18517
	{
		width: 111px;
		background-image: url("../images/u185172.png");
	}

	#widgetu18510
	{
		width: 137px;
		margin-top: 96px;
		left: 19px;
	}

	#widgetu18510.fld-err-st
	{
		margin-top: 96px;
		width: 137px;
	}

	#u18512
	{
		width: 111px;
		background-image: url("../images/u185122.png");
	}

	#widgetu18500
	{
		width: 137px;
		left: 19px;
	}

	#widgetu18500.fld-err-st
	{
		width: 137px;
	}

	#u18502
	{
		width: 111px;
		background-image: url("../images/u185022.png");
	}

	#u19016-8
	{
		z-index: 56;
		display: block;
		vertical-align: top;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		left: 44px;
	}

	.html
	{
		background-image: url("../images/_33100421200x900.jpg");
	}

	body
	{
		min-width: 320px;
	}
}

@media (max-width: 320px)
{
	#widgetu18510.fld-err-st #u18512
	{
		background-image: url("../images/u18512-ferr3.png");
	}

	#widgetu18500.fld-err-st #u18502
	{
		background-image: url("../images/u18502-ferr3.png");
	}

	#widgetu18504.fld-err-st #u18505
	{
		background-image: url("../images/u18505-ferr3.png");
	}

	#widgetu18516.fld-err-st #u18517
	{
		background-image: url("../images/u18517-ferr3.png");
	}

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		width: 306px;
		min-height: 431px;
		padding: 33px 4px 16px 10px;
	}

	#u19118-4
	{
		z-index: 64;
		display: block;
		vertical-align: top;
		position: relative;
	}

	#pu19022
	{
		width: 0.01px;
		margin-left: 6px;
		margin-top: -2px;
	}

	#u19022
	{
		width: 288px;
		margin-right: -10000px;
	}

	#u18679
	{
		width: 288px;
		height: 385px;
	}

	#widgetu18499
	{
		height: 224px;
		margin-top: 123px;
		left: 58px;
	}

	#widgetu18504
	{
		width: 174px;
		height: 52px;
	}

	#widgetu18504.fld-err-st
	{
		width: 174px;
		height: 52px;
	}

	#u18505
	{
		width: 111px;
		background-image: url("../images/u185053.png");
	}

	#u18506-4
	{
		width: 160px;
		margin-top: 24px;
	}

	#widgetu18504:hover #u18506-4
	{
		margin-top: 24px;
		width: 160px;
	}

	#widgetu18504.focus-st #u18506-4
	{
		margin-top: 24px;
		width: 160px;
	}

	#widgetu18504.fld-err-st #u18506-4
	{
		margin-top: 24px;
		width: 160px;
	}

	#widgetu18504_input,#widgetu18504_prompt
	{
		width: 160px;
	}

	#u18514-4,#u18515-4,#u18509
	{
		margin-top: 199px;
		left: 6px;
	}

	#widgetu18499.frm-subm-ok-st #u18509
	{
		background-image: url("../images/u18509-fss3.png");
	}

	#u18508-17
	{
		background-image: url("../images/u18508-173.png");
		margin-top: 160px;
		left: 19px;
	}

	#u18508-17:hover
	{
		background-image: url("../images/u18508-17-r3.png");
	}

	#u18508-17:active
	{
		background-image: url("../images/u18508-17-m3.png");
	}

	#widgetu18499.frm-sub-st #u18508-17
	{
		background-image: url("../images/u18508-17-fs3.png");
	}

	#widgetu18516
	{
		width: 137px;
		margin-top: 64px;
		left: 19px;
	}

	#widgetu18516.fld-err-st
	{
		margin-top: 64px;
		width: 137px;
	}

	#u18517
	{
		width: 111px;
		background-image: url("../images/u185173.png");
	}

	#widgetu18510
	{
		width: 137px;
		margin-top: 96px;
		left: 19px;
	}

	#widgetu18510.fld-err-st
	{
		margin-top: 96px;
		width: 137px;
	}

	#u18512
	{
		width: 111px;
		background-image: url("../images/u185123.png");
	}

	#widgetu18500
	{
		width: 137px;
		left: 19px;
	}

	#widgetu18500.fld-err-st
	{
		width: 137px;
	}

	#u18502
	{
		width: 111px;
		background-image: url("../images/u185023.png");
	}

	#u19016-8
	{
		z-index: 56;
		display: block;
		vertical-align: top;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		left: 44px;
	}

	.html
	{
		background-image: url("../images/_3310042640x480.jpg");
	}

	body
	{
		min-width: 320px;
	}
}

/* NEW CSS */

.title {
	font-size: 48px;
	color: white;
	text-align: center;
	margin: 30px 0;
	line-height: 32px;
	margin-top: -30px;
}

.description {
	color: #eee;
	z-index: 56;
	position: relative;
	margin: 30px 40px;
	font-size: 16px;
	text-align: center;
}

#u18517, #u18512, #u18502, #u18505 {
	background-image: none;
	color: white;
}

#widgetu18499 {
	margin-top: 105px;
}

#u18679 {
	height: 330px;
}

@media (max-width: 600px) {
	#u18679 {
		width: 288px;
		height: 335px;
	}

  .title {
    font-size: 32px;
		margin-top: 0px;
  }

  .description {
  	font-size: 18px;
  	margin: 20px 40px;
  }
}