.showing-page-options .mfp-wrap .mfp-inline-holder .mfp-content {
	width: 600px;
	height: 500px;
}
.page-option-popup {
	position: relative;
	max-width: 100%;
}
.page-option-popup .form {
	position: relative;
}
.page-option-popup #poststuff .inside .themify_write_panel {
	border: none;
}
.page-option-popup .themify-tabs-heading {
	position: absolute;
	z-index: 11;
	display: inline-block;
	width: 100%;
	margin: -40px 0 0;
	background-color: #E5E5E5;
}
.page-option-popup .themify-tabs-heading li {
	display: inline-block;
	border: none;
	background-color: transparent;
	line-height: normal;
}
.page-option-popup .themify-tabs-heading li a {
	padding: 10px;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	padding: 10px 20px;
}

/* lightbox field styling */
.page-option-popup a {
	color: #491aaf;
	text-decoration: none;
}
.page-option-popup a:hover {
	color: #000;
	text-decoration: none;	
}
.page-option-popup input[type='text'] {
	height: auto;
	max-width: 100%;
	padding: .3em .5em;
	box-sizing: border-box;
}
.page-option-popup .themify-tabs-heading li.select {
	background-color: #FFF;
}
.page-option-popup #poststuff .inside .themify_write_panel {
	padding: 10px 20px 40px;
}
.page-option-popup .themify_field_description {
	font-size: .95em;
	color: #777;
}
.page-option-popup .themify_field_description a {
	color: #555;
	padding-bottom: 1px;
	border-bottom: solid 1px #ddd;
}
.page-option-popup .themify_field_description a:hover {
	color: #000;
}
.page-option-popup .dropdownbutton-group a {
	color: inherit;
}
.page-option-popup .save-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 91;
	padding: 8px;
	border: none;
	background-color: #F26522;
	color: #FFF;
	text-transform: uppercase;
	font: normal 14px/10px Montserrat, sans-serif;
	text-align: center;
	cursor: pointer;
	letter-spacing: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.page-option-popup .mfp-close {
	display: inline-block;
	height: 42px;
	width: auto;
	margin-right: 79px;
	font-size: 20px;
	color: #777;
	font-weight: normal;
	text-transform: capitalize;
}
.page-option-popup .mfp-close:before {
	display: inline-block;
	margin-right: 5px;
	font-size: 12px;
	content: 'Cancel';
	vertical-align: top;
}