/*
Skin Name: Orange
Version: 1.0
Description: Skin for Landing

*/

#headerwrap,
#footerwrap,
#respond #cancel-comment-reply-link,
input[type=reset], input[type=submit], button {
	background-color: #bf501c;
	color: #fff;
}
#sidebar .widgettitle {
	border-top: 5px solid #bf501c;
}
.post-nav {
	border-top: 5px solid #bf501c;
	border-bottom: 5px solid #bf501c;
}
.related-posts,
.commentlist {
	border-bottom: 5px solid #bf501c;
}
#main-nav a,
#main-nav ul a {
	color: #fff;
}
#headerwrap #menu-icon {
	color: #fff;
}
.module-box .price-box.default h3 {
	background-color: #bf501c;
	color: #fff;
}
.custom-tabs.default.ui.module-tab.rounded .tab-nav li.current,
.custom-tabs.default.ui.module-tab.rounded .tab-nav li:hover {
	background-color: #bf501c !important;
}
.custom-tabs.default.ui.module-tab.rounded .tab-nav li.current a:after,
.custom-tabs.default.ui.module-tab.rounded .tab-nav li:hover a:after {
	border-top-color: #bf501c;
}