@media screen and (max-width: 1200px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	#pagewrap {
		max-width: 100%;
	}

	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 96%;
	}
	 		
}

/************************************************************************************
MOBILE NAVIGATION
*************************************************************************************/
/* ensure menu is visible on desktop version */
@media screen and (min-width: 1001px) {
	#main-nav {
		display: block !important;
	}
	#menu-icon span {
		display: none;
	}
}

/* change max-width to trigger mobile menu (#headerwrap added to override Themify Customize output css) */
@media screen and (max-width: 1000px) {

	.has-fixed-header #pagewrap {
		padding-top: 72px;
	}
	#headerwrap #site-description {
		display: none;
	}
	.has-fixed-header .featured-background {
		margin-top: -21%;
	}


	/************************************************************************************
	HEADER
	*************************************************************************************/
	#headerwrap #header {
		height: auto;
		padding: 10px 0 5px;
	}

	/* reset absolute elements to static */
	#headerwrap #site-logo, 
	#headerwrap #site-description {
		position: static;
		float: none;
		clear: both;
		margin: 0;
		padding: 0;
	}
	
	/* site logo */
	#headerwrap #site-logo {
		font-size: 30px;
		margin: 0 0 .5em;
		padding: .4em 0 0;
	}

	/* site description */
	#headerwrap #site-description {
		margin: 0 0 .5em;
	}

	/* header widget */
	#headerwrap .header-widget {
		position: static;
		float: none;
		text-align: left;
		clear: both;
		margin: 0;
	}
	#headerwrap .header-widget .widget {
		margin: 0 0 10px;
	}
	
	/* menu icon */
	#headerwrap #menu-icon {
		position: absolute;
		display: block;
		top: 25px;
		right: 10px;
		text-decoration: none;
		font-size: 1.2em;
	}
	
	.transparent-header #headerwrap.fixed-header #main-nav ul a {
		color: inherit;
	}
	.transparent-header #headerwrap #main-nav .has-sub-menu a:after,
	.transparent-header #headerwrap #main-nav .page_item_has_children a:after {
		display: none;
	}
	
	/* Headerwrap Fixed Header */
	.transparent-header #headerwrap.fixed-header #menu-icon,
	.transparent-header #headerwrap.fixed-header #main-nav ul a,
	.transparent-header #headerwrap.fixed-header #menu-icon-close {
		color: #fff;
	}
	#headerwrap.fixed-header #main-nav a {
		padding: .6em 0;
	}
	
	/************************************************************************************
	MENU PANEL
	*************************************************************************************/
	/* Mobile Menu Styles */
	.sidemenu {
		transition: all .2s ease-in-out;
		height: 100%;
		width: 250px;
		padding: 30px 25px;
		background-color: #000;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		display: block;
		position: fixed;
		top: 0;
		z-index: 111;
	}
	.mobile-menu-visible.sidemenu-active {
		position: relative;
	}
	#mobile-menu {
		right: -300px;
	}
	#mobile-menu.sidemenu-on {
		right: 0;
	}
	.sidemenu-active {
		position: relative;
	}
	.sidemenu-active, .sidemenu-active #headerwrap {
		left: 0;
		transition: left .2s ease-in-out;
	}
	.sidemenu-right, .sidemenu-right #headerwrap {
		left: -150px;
	}
	.sidemenu-left, .sidemenu-left #headerwrap {
		left: 150px;
	}
	.sidemenu-right #headerwrap {
		z-index: 302;
	}

	/* slide menu close */
	#headerwrap #menu-icon-close {
		position: absolute;
		display: block;
		color: #7f7f7f;
		text-decoration: none;
		top: 10px;
		right: 20px;
		font-size: 2em;
	}
	#headerwrap #menu-icon-close:after {
		content: "\f00d";
		font-family: FontAwesome;
	}
	#headerwrap #menu-icon-close:hover {
		color: #fff;
	}

	/* main nav */
	#headerwrap #main-nav {
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		margin: 15px 0 30px;
		background: none;
		border: none;
		text-align: left;
		float: none;
		clear: both;
	}
	#headerwrap #main-nav li {
		float: none;
		display: block;
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		clear: both;
	}

	/* sub level */
	#headerwrap #main-nav ul {
		position: static;
		width: auto;
		height: auto;		
		display: block;
		border: none;
		margin: 0;
		padding: 0 0 0 1em;
		background: none;
		visibility: visible;
		clear: both;
		text-align: left;
	}
	#headerwrap #main-nav ul li {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
	}
	
	/* menu link */
	#headerwrap #main-nav a, 
	#headerwrap #main-nav ul a {
		width: auto;
		display: block;
		border: none;
		padding: .6em 0;
		margin: 0;
		color: #ccc;
		font-size: 100%;
		font-weight: bold;
		line-height: 1.5em;
		background: none;
		text-decoration: none;
		border-bottom: solid 1px rgba(255,255,255,.3);
	}
	#headerwrap #main-nav > li:last-child a {
		border: none;
	}
	
	/* sub level menu link */
	#headerwrap #main-nav ul a {
		font-weight: normal;
		font-size: .95em;
	}
	
	/* menu hover */
	#header #main-nav a:hover,
	#header #main-nav ul a:hover {
		color: #fff;
	}

	/* sub-menu icon */
	#headerwrap #main-nav .menu-item-has-children > a:after,
	#headerwrap #main-nav ul .menu-item-has-children > a:after {
		display: none;
	}

	/* current link */
	#headerwrap #main-nav .current_page_item > a, 
	#headerwrap #main-nav .current-menu-item > a {
		color: #fff;
	}
	#main-nav .menu-item-has-children > a:after {
		display: none;
	}
	#main-nav ul:after {
		display: none;
	}
	#main-nav .current_page_item a:after,
	#main-nav .current-menu-item a:after {
		display: none;
	}
		
	/* 
	SEARCH FORM
	================================================ */
	#searchform-wrap {
		float: none;
	}
	#headerwrap #searchform {
		position: relative;
		left: auto;
		right: auto;
		top: auto;
		bottom: auto;
		float: none;
		clear: both;
		margin: 0 0 1em;
		padding: 0;
		width: auto;
	}
	#headerwrap #searchform #s {
		width: 100%;
		float: none;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
		background-color: rgba(255, 255, 255, 0.2)
	}
	#headerwrap #searchform #s:focus,
	#headerwrap #searchform #s:hover,
	#headerwrap #searchform .icon-search:hover + #s {
		width: 100%;
		color: #fff;
		background-color: rgba(255, 255, 255, 0.2)
	}

	#headerwrap #searchform .icon-search:before {
		padding: 0;
		right: 10px;
		top: 4px;
		color: #fff;
	}

	/* 
	SOCIAL LINKS
	================================================ */
	#headerwrap .social-widget {
		margin: 0 0 1em;
		position: static;
		float: none;
		color: #fff;
	}
	#headerwrap .social-widget .widgettitle {
		display: block;
		margin: 0 0 .4em;
	}
	
	/* Header Block */
	.header-block #header #site-logo {
		font-size: 2.2em;
		float: left;
		padding: .4em 0 0;
	}
	.header-block #headerwrap #header .social-widget,
	.header-block #headerwrap #header #searchform-wrap {
		float: left;
		padding: 1.3em 0 1em;
		position: static;
	}
	.header-block #headerwrap #header #searchform {
		position: relative;
	}
	.header-block #header #main-nav li {
		margin: 0;
	}
	.header-block #header #main-nav a {
		padding: .6em 0;
	}
	.header-block #headerwrap {
		padding: .8em 1.45em 1.45em;
	}
	
	.header-block #headerwrap #header #menu-icon {
		top: 10px;
	}

	/* Header Block Fixed Header */
	.header-block #headerwrap.fixed-header #header .social-widget,
	.header-block #headerwrap.fixed-header #header #searchform-wrap {
		float: left;
	}
	.header-block #headerwrap.fixed-header #header #searchform {
		position: relative;
	}
	
	/* Header Leftpane */
	.header-leftpane #pagewrap {
		padding-left: 0;
	}
	

}

@media screen and (max-width: 800px) {
	
	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	.loops-wrapper.grid4 .post {
		width: 48.4%; /* change grid4 to 2 columns */
	}
	.loops-wrapper.grid4 .post:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}

}

@media screen and (max-width: 760px) {

	/************************************************************************************
	GENERAL
	*************************************************************************************/
	body {
		font-size: .95em;
	}

	/* heading */
	#pagewrap h1 {
		font-size: 1.95em;
	}
	#pagewrap h2 {
		font-size: 1.75em;
	}
	#pagewrap h3 {
		font-size: 1.45em;
	}
	#pagewrap h4 {
		font-size: 1.35em;
	}

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 90%;
	}
	#content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/* sidebar */
	#sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	.single-event .portfolio-post-wrap .post-image,
	.single-event .portfolio-post-wrap .event-map {
		float: none;
		width: auto;
	}
	.single-event .portfolio-post-wrap .event-map {
		position: static;
		height: 240px;
	}
	
	/* page title */
	.page-title {
		font-size: 2em;
	}

	/************************************************************************************
	 WOOCOMMERCE
	*************************************************************************************/
	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
		float:none;
		width:100%;
	}
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width:100%;
		float:none;
		text-align: left;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 40%;
		float: left;
		clear: both;
		margin: 0 0 2.992em;
	}
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		float: right;
		clear: none!important;
	}

}

@media screen and (max-width: 680px) {
	
	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}
	
	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* prevent logo img extend the fixed header on mobile */
	.has-fixed-header #headerwrap #site-logo img {
		width: auto;
		max-height: 40px;
	}

	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	/* all post */
	.shortcode.loops-wrapper.list-post .post,
	.shortcode.loops-wrapper.grid4 .post,
	.shortcode.loops-wrapper.grid3 .post,
	.shortcode.loops-wrapper.grid2 .post,
	.shortcode.grid2-thumb .post,
	.shortcode.list-thumb-image .post,
	.shortcode.list-large-image .post,
	.loops-wrapper.list-post .post,
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post,
	.loops-wrapper.grid2 .post,
	.loops-wrapper.grid2-thumb .post,
	.loops-wrapper.list-thumb-image .post,
	.loops-wrapper.list-large-image .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}

	/* all post title */
	.post-title,
	.loops-wrapper.list-post .post-title,
	.loops-wrapper.grid4 .post-title,
	.loops-wrapper.grid3 .post-title,
	.loops-wrapper.grid2 .post-title,
	.loops-wrapper.grid2-thumb .post-title,
	.loops-wrapper.list-thumb-image .post-title,
	.loops-wrapper.list-large-image .post-title,
	.loops-wrapper.slider .post-title {
		font-size: 1.4em;
	}

	/* all post image */
	.loops-wrapper.list-post .post-image,
	.loops-wrapper.grid4 .post-image,
	.loops-wrapper.grid3 .post-image,
	.loops-wrapper.grid2 .post-image,
	.loops-wrapper.list-large-image .post-image {
		float: none;
		position: static;
		width: auto;
		margin: 0 0 1em;
		overflow: visible;
	}

	/* all post content */
	.loops-wrapper.grid2-thumb .post-content,
	.loops-wrapper.list-thumb-image .post-content {
		overflow: visible;
	}

	/* slider post */
	.loops-wrapper.slider .post-content {
		position: static;
		background-color: #000;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.loops-wrapper.slider .post-meta {
		position: static;
	}
	.portfolio-post-wrap .event-single-details .post-date {
		float: none;
		width: auto;
		display: block;
		border-right: none;
		border-bottom: 1px solid #808080;
		padding: 0;
		padding-bottom: .6em;
		margin-right: 0;
		text-align: center;
	}
	.portfolio-post-wrap .event-single-details .post-date .day,
	.portfolio-post-wrap .event-single-details .post-date .time {
		vertical-align: middle;
	}
	.portfolio-post-wrap .event-single-details .address {
		width: auto;
		text-align: center;
	}
	.portfolio-post-wrap .event-single-details .location {
		text-align: center;
		line-height: inherit;
	}
	
	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev, 
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}
	
	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 1em 1em 0;
	}
	
	/************************************************************************************
	RELATED POSTS
	*************************************************************************************/
	.related-posts .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	#body .gallery-columns-5 .item,
	#body .gallery-columns-5 .gallery-item {
		width: 50%;
	}
	.woocommerce-cart table.cart td.product-quantity,
	.woocommerce-cart table.cart th.product-quantity {
		display: none;
	}

	/************************************************************************************
	SHORTCODE BUTTON
	*************************************************************************************/
	a.shortcode.button.xlarge {
		font-size: 1.4em;
	}
	
	/************************************************************************************
	 WOOCOMMERCE
	*************************************************************************************/
	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce table.cart .product-thumbnail,
	.woocommerce-page #content table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail,
	.woocommerce table.cart .porduct-price,
	.woocommerce-page table.cart .product-price {
		display: none;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		float: none;
	}
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button {
		float: right;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		padding: .4em 1em;
		font-size: .9em;
	}
	.woocommerce #content div.product div.images,
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.images,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.images,
	.woocommerce-page div.product div.summary {
		float: none;
		width: 100%;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		margin-bottom: 1em;
	}
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button {
		float: none;
		clear: both;
	}

}